server:
  port: 8088

spring:
  application:
    name: foro-service
  datasource:
    url: jdbc:postgresql://localhost:5450/studentgest
    username: postgres
    password: ABCabc123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

foro-service:
  base-url: http://localhost:8080/api/foro